In [2]:
import pandas as pd
import numpy as np

In [7]:
BigMac = pd.read_csv('big_macMap.csv')
BigMac.head(5)

,name,date,currency_code,local_price,dollar_ex,dollar_price,usd_raw,eur_raw,gbp_raw,jpy_raw,cny_raw,gdp_dollar,adj_price,usd_adjusted,eur_adjusted,gbp_adjusted,jpy_adjusted,cny_adjusted
0,Argentina,2000-04-01,ARS,2.50,1.00,2.500000,-0.00398,0.05007,-0.16722,-0.09864,1.09091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Australia,2000-04-01,AUD,2.59,1.68,1.541667,-0.38579,-0.35246,-0.48645,-0.44416,0.28939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Brazil,2000-04-01,BRL,2.95,1.79,1.648045,-0.34341,-0.30778,-0.45102,-0.40581,0.37836,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,2000-04-01,CAD,2.85,1.47,1.938776,-0.22758,-0.18566,-0.35417,-0.30099,0.62152,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Switzerland,2000-04-01,CHF,5.90,1.70,3.470588,0.38270,0.45774,0.15609,0.25130,1.90267,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
BigMac.dtypes

name              object
date              object
currency_code     object
local_price      float64
dollar_ex        float64
dollar_price     float64
usd_raw          float64
eur_raw          float64
gbp_raw          float64
jpy_raw          float64
cny_raw          float64
gdp_dollar       float64
adj_price        float64
usd_adjusted     float64
eur_adjusted     float64
gbp_adjusted     float64
jpy_adjusted     float64
cny_adjusted     float64
dtype: object

In [9]:
# change date attribute to time format
BigMac['date'] = pd.to_datetime(BigMac['date'])
BigMac.dtypes

name                     object
date             datetime64[ns]
currency_code            object
local_price             float64
dollar_ex               float64
dollar_price            float64
usd_raw                 float64
eur_raw                 float64
gbp_raw                 float64
jpy_raw                 float64
cny_raw                 float64
gdp_dollar              float64
adj_price               float64
usd_adjusted            float64
eur_adjusted            float64
gbp_adjusted            float64
jpy_adjusted            float64
cny_adjusted            float64
dtype: object

In [10]:
# Split dataframe into different Years
BigMac_YearsSplit = []

for year in range(2000, 2021):
    BigMac_YearsSplit.append(BigMac[BigMac['date'].dt.year == year])

In [16]:
BigMac_YearsSplit[0].head(5)

,name,date,currency_code,local_price,dollar_ex,dollar_price,usd_raw,eur_raw,gbp_raw,jpy_raw,cny_raw,gdp_dollar,adj_price,usd_adjusted,eur_adjusted,gbp_adjusted,jpy_adjusted,cny_adjusted
0,Argentina,2000-04-01,ARS,2.50,1.00,2.500000,-0.00398,0.05007,-0.16722,-0.09864,1.09091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Australia,2000-04-01,AUD,2.59,1.68,1.541667,-0.38579,-0.35246,-0.48645,-0.44416,0.28939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Brazil,2000-04-01,BRL,2.95,1.79,1.648045,-0.34341,-0.30778,-0.45102,-0.40581,0.37836,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,2000-04-01,CAD,2.85,1.47,1.938776,-0.22758,-0.18566,-0.35417,-0.30099,0.62152,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Switzerland,2000-04-01,CHF,5.90,1.70,3.470588,0.38270,0.45774,0.15609,0.25130,1.90267,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
len(BigMac_YearsSplit)

21

In [23]:
# Write each time df into csv file with a naming scheme
i = 2000
for df in BigMac_YearsSplit:
    df.index('name')
    df.to_csv('big_mac{}'.format(i))
    i+=1